
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #f3fbff, #6daabe, #2c5364);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}


.container {
  background: #468d8d;
  padding: 30px;
  max-width: 400px;
  width: 90%;
  text-align: center;
  border-radius: 18px;

  box-shadow:
    0 15px 35px rgba(255, 255, 255, 0.6),
    0 0 25px rgba(74, 144, 226, 0.7);
}


h1 {
  font-size: 24px;
  color: #ffffff;
  opacity: 0;
  animation: fadeIn 2s ease forwards;
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


.image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
  margin: 20px 0;
}


.form-group {
  margin: 18px 0;
  position: relative;
}

input {
  width: 95%;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #4a90e2;
  outline: none;
  font-size: 15px;
  box-shadow: inset 0 2px 6px rgba(0,0,0,0.2);
}

.eye {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #bbb;
  cursor: pointer;
}

.eye:hover {
  color: #4a90e2;
}


button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: #4a90e2;
  color: white;
  border: none;
  border-radius: 14px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

button:hover {
  background: #357abd;
}


@media (max-width: 480px) {
  .container {
    padding: 20px;
  }

  h1 {
    font-size: 20px;
  }
}
